/* *{
  border: 1px solid gold;
  background-image:url("https://www.dccomics.com/sites/default/files/field/image/TitansS2_blog_5d5c3b184956c0.38671675.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  height: 100vh;
} */
body {
  background-image:url("https://imgix-media.wbdndc.net/asset/series/164/5d7bd61d/poster.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: local;
  width: 100vw;
  height: 100vh;
  /* overflow: scroll; */
  margin: auto;
}

.body {
  background-color: rgba(255, 255, 255 , 0.7);
  width: 80vw;
  height: 95vh;
  margin: auto;
  overflow: scroll;
}
.characters {

}
 ul{
list-style: none;
 }

.photos img {
  display: none;
  width: 20vw;
}
.photos img:first-of-type {
  display: block;
}

nav {
  width: 100vw;
  height: 4vh;
  background-color: rgb(11,75,100);
  display: inline-flex;
  /* padding: 1em 7em; */
  justify-content: space-around;
  margin: 0;
}
 a{
   color: rgb(144,186,179);
   margin: auto;
   text-align: center;
   text-decoration:
 }
 form {
   margin: auto;

 }
 .sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
/* favoriteImage */
.favoriteBtn{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items:center;
  }
.hero  {
 margin: 1em;


}

.hero img{
 height: 20vh;
 width: 15vw;
 align-items: center;

}





/* .sticky + .body {
  padding-top: 60px;
} */

/* Search       */

h1{
text-align: center;
}

.info , .favs{
  display: flex;
  justify-content: space-between;
  background-color: rgba(120,170,163,0.3);
  margin: 2em;
  padding: 2em;

}
.info img , .favorite img {
  width: 30vw;
  height: 40vh;
  align-items: center;

}
.characterInfo , .favoriteInfo{
  float: right;



  /* padding: 5em; */
}
/*    Photos    */

.photos {
display: flex;
justify-content: center;
padding-top: 2em;
}
.photos img {
  height: 25vh;
  width: 20vw;
}
.arrows {
display: flex;
justify-content: center;
padding-bottom: 2em;
}
@media (max-width: 600px) {
  .hero  {
  height: 30vh;
  width: 35vw;
   margin: 0.5;
 }
   .hero img {
     width: 35vw;
     height: 30vh;
     align-items: center;
}




}
